/* Colors
................................. */

$darker_gray: 	#212121;
$dark_gray: 	#676767;
$gray: 			#d4d4d4;
$light_gray: 	#ededed;
$white: 		#ffffff;
$black: 		#000000;


$main_nav_height: 170px;
$main_nav_height_scrolled: 120px;

$site_width: 1180px;

/* Image sizes
................................. */

$thumbnail_lg_width:  735px;
$thumbnail_lg_height: 505px;

$thumbnail_md_width:  475px;
$thumbnail_md_height: 325px;

$profile_pic_lg_size: 355px;
$profile_pic_size: 175px;